#menu{
    background-color: #2F9E41;
    width:100%;
    display: flex;
    color:white;
    padding:5px;
}
#menu p{
    padding:20px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 0px;
}

#menu p:hover{
    background-color: #008042;
    transition: 0.5s;
    scale:1.05;
}
#SobreDiv{
    display: none;
}
.page {
    margin:20px;
}
.page p{
    margin-top: 20px;
    font-size: 20px;
}

.page img{
    margin:  20px;
    width:50%;
    display: inline-block;
}

.lista ul{
    list-style-type: none;
    
}

.lista li{
    list-style-type: none;
    font-size: 18px;
}
.equipe span {
    font-size: 16px;
}

.ano{
    font-size: 16px;
}