#menu{
    background-color: #005d9b;
    width:100%;
    display: flex;
    padding:5px;
 
}
#logo{
    opacity: 0;
    scale:0;
    
}
#logoMidi{
    scale:0;
}

#menu img{
    margin-left: 0px;
    margin-top: 10px;
    opacity: 0;
}
#menu p{
    padding:20px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 0px;
    color:white;
}   

#menu p:hover{
    background-color: #ffffff60;
    transition: 0.5s;
    scale:1.05;
}

.page {
    margin:20px;
}
.page p{
    margin-top: 20px;
    font-size: 20px;
}

.page img{
    margin:  20px;
    width:50%;
    display: inline-block;
}

.lista ul{
    list-style-type: none;
    
}

.lista li{
    list-style-type: none;
    font-size: 18px;
}
.equipe span {
    font-size: 16px;
}

.ano{
    font-size: 16px;
}

.page div{
    margin-bottom: 30px;
}

.btm{
    padding-left:20px;
    padding-right:20px;
    width:100%;
    font-size: 18px;
}

.form label{
    font-size: 16px;
}
.form-check-label{
    font-weight: 400 !important;
}

.divFormulario{
    background-color: rgb(255, 255, 248);
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(255, 247, 244);
}

.contato p{
    margin-bottom: 0px !important;
    font-size: 18px;
}
.contato {
    margin-bottom: 30px;
    padding:20px;
}
.p {
    font-size: 25px;
}